body {
    background-color: #1e272e;
    font-size: 16px;
}
.container {
    max-width: 800px;
    margin: 60px auto;
}
h1 {
    font-family: 'Chewy', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 120px 0 60px;   
    color: #9b59b6;
}
.dices {
    display: flex;
    justify-content: space-around;
}
.dice {
    width: 200px;
    height: 200px;
}
#rollIt {
    background-color: #2ecc71;
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    
    width: 180px;
    border-radius: 30px;
    padding: 5px;
    outline: none;
    border-style: none;
    cursor: pointer;
}
#leftDice {
    display: flex;
    flex-direction: column;
    align-items: center;
}
